.contacts__inner{
	display: grid;
	min-height: 320px;
	grid-template-columns: 1fr 1fr;
	color: white;
	align-items: center;
	border-radius: 5px;
	background-color: rgba(82,82,82,0.2);
}
.contacts__map{
	width: 100%;
	object-fit: cover;
	height: 500px;
	background-color: rgb(206, 199, 199);
	filter: brightness(80%);
	cursor: pointer;
	transition: filter 0.3s;
}
.contacts__map:hover{
	filter: brightness(100%);
}
.contacts__content{
	padding: 10px 20px;
}
.contacts__item{
	padding: 30px 0;
}
.contacts__title{
	margin-bottom: 8px;
	font-size:19px;
}
.contacts__descr{
	font-size: 16px;
	color: rgb(206, 206, 206);
}
.contacts__tel .contacts__descr{
	text-decoration: underline;
}
.socials img{
	width: 25px;
	padding-right: 8px;
	transition: transform 0.3;
}
.socials img:hover{
	transform: scale(1.03);
}
@media (max-width:950px) {
	.contacts__inner{
		grid-template-columns: 1fr;
		flex-direction: column-reverse;
		width: 600px;
		max-width: 100%;
		margin: 0 auto;
	}
	.contacts__item{
		padding: 18px 0;
	}
	.contacts__map{
		height: 300px;
		margin: 0 auto;
	}
}